body {
    background-color: beige;
}
div {
    margin: 8px;
}
.timeline_event {

    border-width: 2px;
    border-style: solid;

    padding: 8px;

    display: inline-block;
    background-color: powderblue;
}
.sub_menu {
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
    margin: 2px;
    padding: 3px;
}
.per_year {
    border-width: 2px;
    border-style: solid;

    background-color: rgb(219, 203, 218);
}
hr {
    padding: 5px;
    margin: 10px;
    border-color: black;
    background-color: #ab618b;
}