body {
    background-color: beige;
}
div {
    margin: 8px;
}
div.timeline_bus {
    height: 1260px;
    width: 15px;

    background-color: pink;
}
div.timeline_event {

    border-width: 2px;
    border-style: solid;

    align: center;

    display: inline-block;
    background-color: powderblue;
}
span.sub_menu {
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
    margin: 2px;
    padding: 3px;
}
hr {
    padding: 5px;
    margin: 10px;
    border-color: black;
    background-color: #ab618b;
}